@model AkaBIWebSite.Models.NewsPageViewModel

<div class="col-md-9 blog-box">

    <div id="pagination">
        @if (Model.PagingSettings != null)
        {
            if (Model.PagingSettings.PreviusPostsUrl != null)
            {
                @Html.ActionLink("Previous", "PreviousPage", "News", null, new { @class = "next-page" })
            }

            if (Model.PagingSettings.NextPostsUrl != null)
            {
                @Html.ActionLink("Next", "NextPage", "News", null, new { @class = "next-page" })
            }
        }
    </div>

    <hr />

    @foreach (var post in Model.ListOfPosts)
    {
        <div class="blog-post standard-post">

            <div class="post-head">
                <a href="#">
                    <img alt="" src="@post.FullPictureUrl">
                </a>
            </div>

            <div class="post-content">
                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                <ul class="post-meta">
                    <li>By <a href="#"><strong>AkaBI</strong></a></li>
                    <li>@post.CreationDateFormatted</li>
                </ul>
                <p class="text-justify">@post.PostMessageTruncated</p>
                <a class="main-button" href="News/PostDetails/@post.Id">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    }

    <div id="pagination">
        @if (Model.PagingSettings != null)
        {
            if (Model.PagingSettings.PreviusPostsUrl != null)
            {
                @Html.ActionLink("Previous", "PreviousPage", "News", null, new { @class = "next-page" })
            }

            if (Model.PagingSettings.NextPostsUrl != null)
            {
                @Html.ActionLink("Next", "NextPage", "News", null, new { @class = "next-page" })
            }
        }
    </div>
</div>
