<!DOCTYPE html>
<html lang="en" ng-app="mainAppModule">

<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">

    @Styles.Render("~/Content/css")
    @RenderSection("pageCss", required: false)
    <link href="~/Content/css/header-section.css" rel="stylesheet" />
    <link href="~/Content/css/footer-section.css" rel="stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" />
</head>

<body ng-controller="MainAppController">

    <div id="container">

        @Html.Action("Header", "Home")

        @RenderBody()

        @Html.Action("Footer", "Home")

    </div>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/mainJsLibraries")
    @Scripts.Render("~/bundles/margoTemplate")

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <script src="~/Scripts/AngularApp/mainModuleApp.js"></script>
    <script src="~/Scripts/AngularApp/mainAppController.js"></script>

    <script src="~/Scripts/angular-file-uploader.js"></script>

    <script src="~/Scripts/AngularApp/ContactPage/contactService.js"></script>
    <script src="~/Scripts/AngularApp/ContactPage/contactController.js"></script>
    <script src="~/Scripts/AngularApp/ContactPage/validateFieldOnSubmit.js"></script>.

    <script src="~/Scripts/AngularApp/CareerPage/careerService.js"></script>
    <script src="~/Scripts/AngularApp/CareerPage/spontaneousApplicationJobController.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>
